.form_forgot {
  overflow-x: hidden;
  position: relative;
  font-size: 16px;
  margin-top: -2rem;
  display: grid;
  place-content: center;
  min-height: 100vh;

  @media (max-width: $tablet-breakpoint) {
    min-height: 100%;
    margin-top: 0rem;
    margin-left: -9.5rem;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 0px 24px 20px 24px;
    background-color: white;
    width: 93%;
    min-height: auto;
    margin-top: 0rem;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 0;
    display: block;
  }

  & > div > h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: $h3-color;
    min-width: max-content;
    margin-top: 0rem;

    @media (max-width: $mobile-breakpoint) {
      margin-bottom: 8px;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .form_forgot_subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #6B7279;
    white-space: pre-wrap;
    margin-bottom: 24px;

    @media (max-width: $mobile-breakpoint) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
