@import '@/styles/mediaQueries';

.card {
  position: relative;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 2px;
  justify-content: center;
  display: grid;
  padding-bottom: 50px;
}

.alertSuccess {
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  align-self: center;
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background: url(/assets/icons/alert_success.svg);
  background-size: 40px 40px;
}

.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  @include tablet() {
    font-size: 20px;
  }
}
