.fallback {
  height: calc(100vh - $navbar-height);
  width: 100%;
  display: grid;
  place-content: center;
  animation: opacityIn 2s infinite;
}

@keyframes opacityIn { 
  0% {
    opacity: 0.2;
  }

  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.2;
  }
}
