.container_metrics_card_loader {
  width: 100%;
  max-width: 345px;
  min-height: 127px;
  background: #ffffff;
  border-radius: 8px;
  // max-width: 315px;
  padding: 16px 24px;
  padding-bottom: 11px;
  position: relative;

  @media (max-width: $mobile-breakpoint) {
    max-width: 100%;
  }

  &_check {
    position: absolute;
    width: 23.55px;
    height: 24px;
    right: 11.78px;
  }

  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6b7279;
    margin: 0;
  }

  & h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #303336;
    margin: 0;
  }

  &_details {
    font-size: 10px;
    line-height: 16px;
    color: #dd7812;
    cursor: pointer;
    width: 76px;
    height: 19px;
    display: flex;
    align-items: center;

    .icon {
      width: 8px;
      height: 8px;
      position: relative;
      margin-left: 6.23px;
    }
  }
}
