@import '@/styles/mediaQueries';

.form_create {
  position: relative;
  font-size: 16px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 1.6px;
  display: grid;

  @include tablet() {
    margin-top: 0;
    min-height: 100%;
  }

  @include mobile() {
    background-color: white;
    min-height: auto;
    margin-top: 0;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 0;
    display: block;
  }

  & > div > h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: $h3-color;
    min-width: max-content;

    @include mobile() {
      line-height: 32px;
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}

.skeleton {
  height: 48px !important;
  width: 100% !important;
}

.form_subtitle_container {
  display: flex;
  margin-bottom: 8px;
  margin-top: 16px;
  justify-content: space-between;
}

.form_small_title {
  font-size: 16px;
  color: #303336;
}

.row :global .ant-col {
  padding-right: 0 !important;
  &:last-child {
    padding-right: 0 !important;
  }

  @include smallTablet() {
    padding-right: 15px !important;
  }
}

.label,
.label div {
  display: block;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
