@import '@/styles/mediaQueries';

.form_create {
  position: relative;
  font-size: 16px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 2px;
  display: grid;

  @include tablet() {
    min-height: 100%;
  }

  @include mobile() {
    min-height: auto;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 0;
    display: block;
  }

  & > div > h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: $h3-color;
    min-width: max-content;

    @include mobile() {
      line-height: 32px;
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}

.form_subtitle {
  font-size: 20px;
  font-weight: bold;
  color: $subtitle-color;
  margin-bottom: 0;
  margin-top: 32px;
  @include tablet() {
    font-size: 16px;
    margin-top: 16px;
  }
}

.form_subtitle_container {
  display: flex;
  margin-bottom: 8px;
  margin-top: 16px;
  justify-content: space-between;
}

.form_small_title {
  font-size: 16px;
  color: $h3-color;
}

.form_clear_fields {
  all: unset;
  font-size: 12px;
  color: $link-color;
  cursor: pointer;
}

.form_user_create_col {
  padding: 8px 0;
  min-width: 95%;
}

.labelRequired div {
  display: block;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.labelRequired {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.label div {
  display: block;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.info {
  display: inline-block;
  line-height: 16px;
  font-size: 12px;
  padding-left: 20px;
  background: url(/assets/icons/info.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: left center;
  color: $paragraph-color;
}

.alertSuccess {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background: url(/assets/icons/alert_success.svg);
  background-size: 40px 40px;
}

.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  @include tablet() {
    font-size: 20px;
  }
}

.smallInputs {
  padding-right: 15px !important;
  @include smallTabletMaxWidth() {
    padding-right: 0px !important;
  }
}

.inputNumberError {
  :global {
    input.ant-input-number-input:hover {
      border-color: $border-color !important;
    }

    input.ant-input-number-input {
      border-color: $error !important;
    }
  }
}

.submit {
  margin-top: 25px;
}
