@import '@/styles/mediaQueries';

.form_create {
  margin-top: 0;
  padding-top: 0;

  @include tablet() {
    margin-top: 0;
    min-height: 100%;
  }

  @include mobile() {
    margin-top: 0;
    margin-left: 0;
    display: block;
    font-size: 16px;
    min-height: auto;
    border-radius: 8px;
    background-color: white;
  }

  & > div > h3 {
    font-size: 32px;
    font-weight: 700;
    color: $h3-color;
    line-height: 48px;
    min-width: max-content;

    @include mobile() {
      line-height: 32px;
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}

.container_button {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  @include mobile() {
    gap: 8px;
    button {
      width: 50%;
    }
  }
}
