.expandedRow {
  padding: 0rem 3rem 1rem 3rem;

  &_title {
    font-size: 14px;
    line-height: 20px;
    color: #303336;
    font-weight: 600;
  }

  &_col {
    font-size: 12px;
    line-height: 16px;
    > p:first-child {
      font-weight: 600;
      color: #3f4246;
      margin: 0;
    }
    > div:last-child {
      font-weight: 400;
      // color: #888e95;
      margin-top: 4px;
    }
  }

  .attachments {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #769428 !important;
    padding: 0px !important;
    background-color: transparent !important;

    &_icon {
      margin-left: 17.56px;
      margin-top: 0.15rem;
    }
  }
}
