@import '@/styles/mediaQueries';

.business_units {
  margin: 50px 52px;
  overflow-x: hidden;

  &__buyer {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    margin: 0 !important;
    letter-spacing: -0.3px;
    color: $paragraph-color !important;
    line-height: 28px !important;
  }

  &__title {
    margin: 0 0 24px !important;
  }

  @include tablet() {
    margin: 50px 36px;
  }

  @include mobile() {
    margin: 50px 16px;
  }
}

.buttons_and_search {
  width: 100%;
  margin-bottom: 24px;
  align-items: flex-end;
  justify-content: space-between;
}

.search {
  @include tablet() {
    width: 35%;
    padding-bottom: 0;
  }

  @include mobile() {
    width: 100%;
    margin-bottom: 10px;

    & input {
      width: 100% !important;
    }
  }
}

.buttons {
  display: flex;
  a {
    display: flex;
    align-items: center;
  }

  &__add_icon {
    margin-right: 15px;
    position: relative;
  }

  @include mobile() {
    width: 100%;
    & button {
      width: 100% !important;
    }
  }
}
