@import '@/styles/mediaQueries';

.form_create {
  display: grid;
  margin-top: 0;
  padding-top: 0;
  font-size: 16px;
  position: relative;
  margin-bottom: 1.6px;

  @include tablet() {
    margin-top: 0;
    min-height: 100%;
  }

  @include mobile() {
    margin-top: 0;
    margin-left: 0;
    display: block;
    font-size: 16px;
    min-height: auto;
    border-radius: 8px;
    background-color: white;
  }

  & > div > h3 {
    font-size: 32px;
    font-weight: 700;
    color: $h3-color;
    line-height: 48px;
    min-width: max-content;

    @include mobile() {
      line-height: 32px;
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}

.form_subtitle_container {
  display: flex;
  margin-top: 16px;
  margin-bottom: 8px;
  justify-content: space-between;
}

.form_small_title {
  font-size: 16px;
  color: $h3-color;
}

.form_clear_fields {
  all: unset;
  font-size: 12px;
  cursor: pointer;
  color: $link-color;
}

.row :global .ant-col {
  padding-right: 0 !important;
  &:last-child {
    padding-right: 0 !important;
  }

  @include smallTablet() {
    padding-right: 15px !important;
  }
  @include tablet() {
    padding-right: 15px !important;
  }
  @include mobile() {
    padding-right: 0px !important;
  }
}

.label,
.label div {
  display: block;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.info_text {
  font-size: 12px;
  margin-bottom: 15px;
  display: inline-block;
  color: $neutral-color;
}

.container_button {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  @include mobile() {
    gap: 8px;
    button {
      width: 50%;
    }
  }
}
