.headerTable {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #888e95;
}

.columnTable {
  height: 20px;
  max-width: 200px;
  line-height: 20px;
  padding: 12px !important;
  color: #303336 !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  background-color: #fff !important;
  border-bottom: 1px solid #dbdde0 !important;
}
