.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__link {
    display: flex;
    color: $green-60;
    margin-right: 13px;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }

  & svg:hover {
    cursor: pointer;
  }
}

.dropdown {
  &__icon {
    display: flex;
    align-items: center;
  }

  ul {
    margin-top: 25px !important;
  }

  ul li {
    height: 32px;

    & span {
      font-size: 12px;
      font-weight: 400;
      color: $h5-color;
      line-height: 16px;
    }
  }
}
