


.form_container {
  margin: 3rem !important;
  @media (max-width: $tablet-breakpoint) {
    margin: 1rem !important;
  }
}


.form_create {
  position: relative;
  font-size: 16px;
  margin-top: 0rem;
  margin-bottom: 0.1rem;
  display: grid;
  max-width: 800px;
 // min-height: 30vh;

  @media (max-width: $tablet-breakpoint) {
    min-height: 100%;
    margin-top: 0rem;
  }

  @media (max-width: $mobile-breakpoint) {
    //padding: 0px 24px 67.21px 24px;
    background-color: white;
    min-height: auto;
    margin-top: 0;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 0;
    display: block;
  }

  & > div > h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: $h3-color;
    min-width: max-content;
    // margin-top: -10rem;

    @media (max-width: $mobile-breakpoint) {
      line-height: 32px;
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}

.form_subtitle{
  font-size: 20px;
  font-weight: bold;
  color: #6B7279;
  margin-bottom: 0rem;
  margin-top: 2rem;
  @media (max-width: $tablet-breakpoint) {
    font-size: 16px;
    margin-top: 1rem;
  }
}

.form_user_create_col{
  padding: 8px 0;
  min-width: 95%;
}

.labelRequired div{
  display: block;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.labelRequired{
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.infoIcon{
  display: inline-block;
  width: 20px;
  font-size: 12px;
  text-indent: -9999px;
  background: url(/assets/icons/info.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.infoText{
  font-size: 12px;
  display: inline-block;
  color: #9FA4A9;
}


//sucess styles
.alertSuccess{
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background: url(/assets/icons/alert_success.svg);
  background-size: 40px 40px;
}

.text{
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 20px;
  }
}