.dropdown {
  border-radius: 8px;
  border: 1px solid $green-60;
  box-shadow: 0px 12px 16px 4px $box-shadow-color;

  &__button {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-left: 10px;
    margin-right: 14px;
  }

  &__icon_wrapper {
    display: flex;
    align-items: center;
  }

  &__export_icon_mobile {
    margin-right: 15px;
  }

  ul,
  li {
    padding: 0 !important;
  }

  ul li {
    gap: 10px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $bg-color-intro;
  }

  ul li span {
    width: 100%;
    color: $h5-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    padding: 0 !important;
  }

  ul li span div {
    padding: 8px 12px !important;
  }

  ul li:last-child {
    border-bottom: none !important;
  }
}
