


.form_container {
  margin: 3rem !important;
  @media (max-width: $tablet-breakpoint) {
    margin: 1rem !important;
  }
}


.form_user_create {
  position: relative;
  font-size: 16px;
  margin-top: 0rem;
  margin-bottom: 0.1rem;
  display: grid;
 // min-height: 30vh;

  @media (max-width: $tablet-breakpoint) {
    min-height: 100%;
    margin-top: 0rem;
  }

  @media (max-width: $mobile-breakpoint) {
    //padding: 0px 24px 67.21px 24px;
    background-color: white;
    min-height: auto;
    margin-top: 0;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 0;
    display: block;
  }

  & > div > h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: $h3-color;
    min-width: max-content;
    // margin-top: -10rem;

    @media (max-width: $mobile-breakpoint) {
      line-height: 32px;
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}

.form_user_create_col{
  padding: 8px 0;
  min-width: 95%;
}


.select_user_create{
  div span:nth-child(1) {
    background-image: url(/assets/icons/search-outlined.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right;
  }

  :global {
    .ant-select-selector {
      border-radius: 8px !important;
      font-size: 16px;
      line-height: 24px;
      height: 48px !important;
      align-items: center;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    
    .ant-select-selector:hover {
       border-color: #DBDDDF !important;
     }
    
  }
}



.select_user_create_multiple {

  :global {
    .ant-select-selector {
      border-radius: 8px !important;
    }
    .ant-select-selector:hover {
      border-color: #DBDDDF !important;
    }

    .ant-select-selector {
      line-height: 24px;
      height: 48px !important;
      align-items: center;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

.select_user_create_multiple > div > div {
    background-image: url(/assets/icons/search-outlined.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right;
}

.labelRequired div{
  display: block;
}


.smallInputs {
  padding-right: 15px !important;
  @media (max-width: $small-tablet-breakpoint) {
    padding-right: 0px !important;
  } 
}


//sucess styles
.alertSuccess{
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background: url(/assets/icons/alert_success.svg);
  background-size: 40px 40px;
}

.text{
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 20px;
  }
}