
// global variables that will only apply to this component (formUserCreate, because it needs the dummyClassCreateFormForBorders class)
.dummyClassCreateFormForBorders.ant-select-open .ant-select-selector  {
  border-color: #DBDDDF !important;
}

.dummyClassCreateFormForBorder.ant-select-selector:active {
    border-color: #DBDDDF !important;
}

.dummyClassCreateFormForBorder.ant-select-focused .ant-select-selector {
  border-color: #DBDDDF !important;
}

.dummyClassCreateFormForBorder:focus {
  border-color: #DBDDDF !important;
}
