@import '@/styles/mediaQueries';

.formPageLoaderContainer {
  margin: 50px 48px !important;

  .formPageContainerTitle {
    margin-top: 0 !important;
  }

  @media (max-width: $tablet-breakpoint) {
    margin: 16px !important;
  }

  .steps {
    margin: 24px 0;
    :global .ant-steps-item-icon {
      background-color: transparent !important;
      border: 2px solid $multi-steps-icon-border !important;

      span {
        color: $multi-steps-icon-border !important;
      }
    }

  }

  .formPageLoader {
    position: relative;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0.1rem;
    display: grid;

    @include tablet() {
      min-height: 100%;
      margin-top: 0rem;
    }

    @include mobile() {
      background-color: white;
      min-height: auto;
      margin-top: 0;
      border-radius: 8px;
      margin-left: 0;
      display: block;
    }
  }

  .formHeaderContainer {
    display: flex;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    justify-content: space-between;
  }

  .formSmallTitle {
    margin: 0;
  }

  .formClearFields {
    all: unset;
    margin: 0;
  }

  .row :global .ant-col {
    width: 100%;
    padding-right: 0 !important;
    &:last-child {
      padding-right: 0 !important;
    }

    @include smallTablet() {
      padding-right: 15px !important;
    }
  }

  .buttonContainer {
    margin-top: 24px;
    text-align: right;

    @include mobile() {
      button {
        width: 50%;
        margin-left: 8px;
      }
    }

    .continueButton {
      width: 120px;
      height: 48px;
      border-radius: 5px;
    }
  }
}
