@import "@/styles/mediaQueries";

.form_create {
  position: relative;
  font-size: 16px;
  margin-top: 0rem;
  padding-top: 0;
  margin-bottom: 0.1rem;
  display: grid;

  @media (max-width: $tablet-breakpoint) {
    min-height: 100%;
    margin-top: 0rem;
  }

  @media (max-width: $mobile-breakpoint) {
    background-color: white;
    min-height: auto;
    margin-top: 0;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 0;
    display: block;
  }

  & > div > h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: $h3-color;
    min-width: max-content;

    @media (max-width: $mobile-breakpoint) {
      line-height: 32px;
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}

.form_subtitle_container {
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.form_small_title {
  font-size: 16px;
  color: #303336;
}

.form_clear_fields {
  all: unset;
  font-size: 12px;
  color: #dd7812;
  cursor: pointer;
}

.row :global .ant-col {
  padding-right: 15px !important;
  &:last-child {
    padding-right: 0 !important;
  }

  @media (max-width: $small-tablet-breakpoint) {
    padding-right: 0px !important;
  }
}

.label,
.label div {
  display: block;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.infoIcon {
  display: inline-block;
  width: 20px;
  font-size: 12px;
  text-indent: -9999px;
  background: url(/assets/icons/info.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.infoText {
  font-size: 12px;
  display: inline-block;
  color: #9fa4a9;
}

.continue_button {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;

  @include mobile() {
    button {
      width: 50%;
    }

    button:first-child {
      margin-right: 8px;
    }
  }
}
