.expandedRowContentTitle {
  font-weight: bold !important;
  font-size: 14px;
  line-height: 15px !important;
  margin-bottom: 0.5rem;
  color: #303336;
}

.expandedRowContentItem {
  -webkit-text-size-adjust: none;
  font-weight: 600 !important;
  margin-right: 0.5rem;
  color: #3f4246;
  font-size: 12px;
  display: inline-flex;
}

.expandedRowContentItemValue {
  color: #888e95;
  font-size: 12px;
  word-wrap: break-word;
  display: inline-flex;
}

.expandedRowContentItemDocument {
  color: #888e95;
  display: inline-block;
  cursor: pointer;
  background-image: url(/assets/icons/attachment.svg);
  background-repeat: no-repeat;
  background-position: left;
  line-height: 1.8rem;
  border-radius: 1rem;
  padding-left: 3rem;
  padding-right: 1rem;
  border: 1px solid #aaaeb3;
  min-width: 5rem;
  height: 2rem;
  background-position-x: 1rem;
  margin-right: 1rem;
}
