@import '@/styles/mediaQueries';

.work_week {
  width: 214px;
  height: 67px;
  display: flex;
  padding: 16px 32px;
  border-radius: 16px;
  align-items: flex-start;
  flex-direction: column;
  background: $white-color;
  box-shadow: 0px 12px 16px 4px $box-shadow-color;

  &__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    color: $paragraph-color;
  }

  &__value {
    color: $h3-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    font-style: normal;
  }

  @include tablet() {
    width: 35%;
    padding-bottom: 0;
  }

  @include maxSmallTablet() {
    width: 100%;
    margin-bottom: 10px;

    & input {
      width: 100% !important;
    }
  }
}
