.gl_codes {
  margin: 50px 52px;
  overflow-x: hidden;

  &__buyer {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    margin: 0 !important;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans';
    color: #6B7279 !important;
    line-height: 28px !important;
  }
  
  &__title {
    margin: 0 0 24px !important;
  }

  @media (max-width: $tablet-breakpoint) {
    margin: 50px 36px;
  }  
  
  @media (max-width: $mobile-breakpoint) {
    margin: 50px 16px;
  }
}

.buttons_and_search {
  width: 100%;
  margin-bottom: 24px;
  align-items: flex-end;
  justify-content: space-between;    
}

.search {
  @media (max-width: $tablet-breakpoint) {
    width: 35%;
    padding-bottom: 0;
  }

  @media (max-width: 600px) {
    width: 100%;
    margin-bottom: 10px;

    & input {
      width: 100% !important;
    }
  }
}

.buttons {
  display: flex;

  &__add_icon {
    top: 3px;
    margin-right: 15px;
    position: relative;
  }

  @media (max-width: 600px) {
    width: 100%;
    & button {
      width: 100% !important;
    }
  }
}