@import '@/styles/mediaQueries';

.row {
  margin-bottom: 20px !important;
  & .col_item {
    & > label {
      color: $paragraph-color !important;
    }
    @include mobile() {
      max-width: calc(100px + 16px);
      min-width: calc(100px + 16px);
    }
  }

  & .label {
    :global .ant-form-item-label {
      & > label {
        color: $h3-color !important;
        font-size: 16px !important;
        line-height: 24px;
      }
      padding-bottom: 4px;
    }
  }
}
