.att_container {
  margin: 50px 48px;
  overflow-x: hidden;

  &__buyer {
    font-size: 20px !important;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0 !important;
    letter-spacing: -0.02em;
    color: #6b7279 !important;
    margin-top: 24px;
  }

  &__title {
    margin: 0 0 24px !important;
    font-size: 32px !important;
    line-height: 48px;
  }

  &_file {
    display: flex;
    align-items: center;
    color: #303336 !important;
    font-weight: 600;

    span {
      margin-right: 10px;
      margin-top: 6px;
    }
  }

  &_row {
    color: #6B7279;
  }

  @media (max-width: $tablet-breakpoint) {
    margin: 50px 36px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin: 50px 16px;
  }
}
