.attachment {
  height: 32px;
  display: flex;
  cursor: pointer;
  min-width: 80px;
  color: $h5-color;
  margin-right: 16px;
  width: min-content;
  align-items: center;
  border-radius: 24px;
  justify-content: center;
  padding: 8px 16px 8px 38px;
  background-position-y: 7px;
  background-position-x: 16px;
  background-repeat: no-repeat;
  border: 1px solid $border-attachment;
  background-image: url($icon-attachment);
}
