@import '@/styles/mediaQueries';

.form_container {
  margin: 48px !important;
  @include tablet() {
    margin: 16px !important;
  }
}

.form_subtitle {
  font-size: 20px;
  font-weight: bold;
  color: $subtitle-color;
  margin-bottom: 0;
  margin-top: 32px;
  @include tablet() {
    font-size: 16px;
    margin-top: 16px;
  }
}

.back_arrow {
  cursor: pointer;
  color: $h5-color;
  width: fit-content;
  font-size: 16px;
}
