.switch_button_buyer {
  background: #f5f5f6;
  border-radius: 21.5px;
  border: 1px solid #edeef0;
  overflow: hidden;
  width: 180px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  color: $green-60;
  position: relative;
  padding-right: 90px;

  &:before {
    content: 'SUPPLIER';
    position: absolute;
    top: 1px;
    bottom: 0;
    right: -10px;
    width: 90px;
    font-weight: 400;
    color: $neutral-color;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  .switch_button_label_icon {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 16px;
    height: 14.88px;
    background-image: url($icon-suppliers);
    background-size: cover;
    margin-top: -1px;
    margin-right: -1.7rem;
    z-index: 4;
  }
  .switch_button_label_icon_buyer {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 14.88px;
    background-image: url($icon-buyers);
    background-size: cover;
    margin-top: -1px;
    margin-left: 16px;
    z-index: 4;
    filter: invert(49%) sepia(48%) saturate(583%) hue-rotate(36deg)
      brightness(98%) contrast(90%);
  }

  &_checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;

    &:checked + .switch_button_label:before {
      transform: translateX(90px);
      transition: transform 300ms linear;
    }

    & + .switch_button_label {
      position: relative;
      padding: 12px 0;
      height: 95%;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: '';
        background: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 21.5px;
        border: 1px solid $green-60;
        transform: translateX(0);
        transition: transform 300ms;
      }

      .switch_button_label_span {
        position: relative;
        margin-left: 17px;
        top: -3.8px;
      }
    }
  }
}

.switch_button_supplier {
  background: #f5f5f6;
  border-radius: 21.5px;
  border: 1px solid #edeef0;
  overflow: hidden;
  width: 180px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  color: $neutral-color;
  position: relative;
  padding-right: 90px;
  // transition: all 2s;

  &:before {
    content: 'SUPPLIER';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    width: 90px;
    font-weight: 700;
    color: $green-60;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  .switch_button_label_icon {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 16px;
    height: 14.88px;
    background-image: url($icon-suppliers);
    background-size: cover;
    margin-top: -1px;
    margin-right: -1.7rem;
    z-index: 4;
    filter: invert(49%) sepia(48%) saturate(583%) hue-rotate(36deg)
      brightness(98%) contrast(90%);
  }
  .switch_button_label_icon_buyer {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 14.88px;
    background-image: url($icon-buyers);
    background-size: cover;
    margin-top: -1px;
    margin-left: 16px;
    z-index: 4;
  }

  &_checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked + .switch_button_label:before {
      transform: translateX(90px);
      transition: transform 300ms linear;
    }

    & + .switch_button_label {
      position: relative;
      padding: 12px 0;
      height: 95%;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: '';
        background: #fff;
        width: 97.5%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 21.5px;
        border: 1px solid $green-60;
        transform: translateX(0);
        transition: transform 300ms;
      }

      .switch_button_label_span {
        position: relative;
        margin-left: 17px;
        top: -3.8px;
      }
    }
  }
}
