.header_table {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $h5-color;
}

.column_table {
  line-height: 20px;
  padding: 12px !important;
  color: $h3-color !important;
  background-color: #fff !important;
  border-bottom: 1px solid $border-color !important;
}

.wrapperLinkActions {
  display: flex;
  color: $green-60;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
