@import '@/styles/mediaQueries';

.formDetailsHeader {
  gap: 8rem;
  width: min-content;
  height: 96px;
  display: flex;
  max-width: 518px;
  padding: 16px 40px;
  border-radius: 16px;
  margin-bottom: 24px;
  align-items: center;
  background: $white-color;
  box-shadow: 0px 12px 16px 4px rgba(0, 14, 51, 0.02);

  .detail {
    height: 40px;
    display: flex;
    padding: 0 8px;
    max-width: 166px;
    flex-direction: column;
    justify-content: space-between;
    // border-right: 1px solid $border-color;

    .label {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $paragraph-color;
    }

    &:first-child {
      width: 22%;
    }
    &:nth-child(2) {
      width: 48%;
    }
    &:last-child {
      width: 30%;
      border: 0;
    }

    @include mobile() {
      .label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:first-child {
        width: 20%;
      }
      &:nth-child(2) {
        width: 40%;
      }
      &:last-child {
        width: 40%;
      }
    }
  }

  @include mobile() {
    gap: 15px;
    padding: 16px;
  }
}
