.sider_fixed_hovered {
  overflow: auto;
  overflow-x: hidden;
  height: 100vh;
  position: fixed !important;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: $zindex-sidebar-hovered;
  border: 1px solid #dbdde0;
  padding-top: 25.79px;
}

.sider_fixed_activated {
  overflow: auto;
  overflow-x: hidden;
  height: 100vh;
  position: fixed !important;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: $zindex-sidebar-activated;
  border: 1px solid #dbdde0;
  padding-top: 25.79px;
}

.sider_activated {
  overflow: auto;
  overflow-x: hidden;
  height: 100vh;
  position: sticky !important;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: $zindex-sidebar-activated;
  border: 1px solid #dbdde0;
  padding-top: 25.79px;
}

.sider_container {
  padding-bottom: 4rem;
}

.sider_header {
  align-items: center;
  padding: 0 32px;
  width: auto;
  min-width: 364px;
}
.sider_switch {
  padding: 0 32px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.sider_dropdown {
  flex-direction: column;
  padding: 0 32px;
  margin-top: 24px;
  width: auto;
  min-width: 364px;
  position: relative;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 44px;
  }

  & > label {
    font-size: 12px;
    line-height: 16px;
    color: #888e95;
    margin-bottom: 4px;
  }

  .prefix_icon_wrapper {
    position: absolute;
    z-index: 1;
    margin-top: 2rem;
    margin-left: 12px;
    background: $link-color;
    border-radius: 4px;
    color: white;
    padding: 0 2px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1.5rem;
  }

  .sider_select {
    :global {
      .ant-select-selector {
        border: 1px solid #9fa4a9 !important;
        border-radius: 8px !important;
        color: #303336;
        font-size: 16px;
        line-height: 24px;
        padding-left: calc(3.6rem) !important;
        height: 48px !important;
        align-items: center;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .ant-select-selection-item {
        color: #303336 !important;
      }

      .ant-select-selection-search-input {
        color: #303336 !important;
        font-size: 16px;
        line-height: 24px;
        height: 100%;
        padding-left: 0 !important;
      }
    }
  }
}

.menu_select {
  :global {
    .ant-select-item-option-selected {
      background-color: #f9fcf3 !important;
      .ant-select-item-option-content {
        color: #769428 !important;
      }
      .ant-select-item-option-disabled {
        color: #769428 !important;
      }
    }
    .ant-select-item-option-content {
      color: #6b7279 !important;
    }
  }
}

.sider_other_actions {
  width: auto;
  align-items: center;
  padding: 16px 42px;
  // padding-bottom: 0px;
  overflow: hidden;
  min-width: 364px;

  & > :first-child {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #888e95;
  }
  & > :last-child {
    margin-left: auto;
    cursor: pointer;
    padding: 0rem 0.5rem;

    .icon_up {
      transform: rotate(180deg);
    }
    .icon_down {
      transform: rotate(0deg);
    }
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu_sider {
  line-height: 24px;
  :global {
    .ant-tooltip-open {
      display: none !important;
    }
    .ant-menu-item {
      margin-inline: 0px;
      margin-block: 0px;
      width: calc(100%);
      border-radius: 0px;
      font-size: 16px;
      // line-height: 24px;
      color: #6b7279;
      height: 44px;

      & :hover {
        color: #6b7279;
      }

      & span:first-child {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: cover;
        margin-right: 10px;
      }
      & span:last-child {
        margin-left: 0px;
        display: flex;
        align-items: center;
      }
    }
    .ant-menu-item-selected {
      color: #769428 !important;
      background: #f9fcf3 !important;
      font-weight: 700;

      & span:first-child {
        filter: invert(67%) sepia(66%) saturate(454%) hue-rotate(34deg)
          brightness(92%) contrast(85%);
      }
      & span:last-child {
        color: #769428 !important;
      }
    }
    .ant-menu-item-active {
      color: #6b7279 !important;
      // background: #f9fcf3 !important;
    }
  }
}

.menu_other_actions {
  animation: opacityIn 0.5s;
  width: auto;
  min-width: 364px;
  padding-bottom: 12px;
  margin-top: -0.3rem;

  :global {
    .ant-menu-item-selected {
      & span:first-child {
        filter: none;
        color: #769428 !important;
      }
    }
  }
}

.menu_account {
  width: auto;
  min-width: 364px;
  // padding-bottom: 50px !important;

  :global {
    .ant-menu-item-selected {
      & span:first-child {
        filter: none;
        color: #769428 !important;
      }
    }
  }
}
