.expanded_row_wrapper {
  width: auto;
  display: block;
  padding: 24px 16px 32px 40px;

  :global .ant-row {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 28px !important;
    line-height: normal !important;
  }
}

.expanded_row_wrapper_title {
  font-size: 14px;
  color: $h3-color;
  margin-top: 0px !important;
  font-weight: bold !important;
  margin-bottom: 16px !important;
}

.expanded_row_content {
  display: flex;
  flex-direction: column;
}

.expanded_row_content_item {
  font-size: 12px;
  margin: 0 0 8px 0;
  display: inline-flex;
  color: $expanded-row;
  font-weight: 600 !important;
  -webkit-text-size-adjust: none;
}

@mixin item_value($color) {
  color: $color;
  font-size: 12px;
  line-height: 16px;
  display: inline-flex;
  word-wrap: break-word;
}

.expanded_row_content_item_value {
  @include item_value($h5-color);
}

.expanded_row_content_view_more {
  @include item_value($green-60);
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}
