@import '@/styles/mediaQueries';

.form {
  position: relative;
  font-size: 16px;
  margin: 40px;
  border-radius: 8px;

  @include mobile() {
    margin: 20px;
  }

  :global .ant-form-item-label {
    padding-bottom: 0px;
  }

  :global .ant-input-password {
    height: 48px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-color: $input-color;
  }
  :global .ant-input-password:hover {
    border-color: $input-color;
  }

  :global input.ant-input {
    height: 45px !important;
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    &::placeholder {
      color: $h5-color !important;
    }
    color: $h3-color !important;
    font-size: 16px;
  }

  ::-ms-reveal {
    display: none;
  }

  &__rules {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: $neutral-color;
  }
}

.smallInputs {
  padding-right: 15px !important;
  @include smallTabletMaxWidth() {
    padding-right: 0px !important;
  }
}

.label {
  padding-bottom: 0;
}

.label div {
  display: block;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.submit {
  margin-top: 5px;
}
